@mixin code($color : #DF5C33) {
  padding: 3px 4px;
  color: $color;
  background-color: #F5F5F5;
  border: 1px solid #E1E1E8;
  border-radius: 3px;
  font-family: Menlo, Monaco, monospace;
}

code {
  @include code();
}
